<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_verdict %> ></div>
        <em><%= "Based on #{@verdicts.length} verdicts" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><%= @movie.name %></td>
              </tr>
              <tr>
                <td><strong>Year:</strong></td>
                <td><%= @movie.year %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Cast:</strong></td>
                <td><%= @movie.cast.to_s %></td>
              </tr>
              <tr>
                <td><strong>Synopsis:</strong></td>
                <td><%= @movie.synopsis.to_s %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write Verdict", new_movie_verdict_path(@movie), class: "btn btn-default"%>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="verdict_name"><%= @movie.name %></h1>
        <p><%= @movie.synopsis %></p>

        <% if @verdicts.blank? %>
          <h3>Give the first Verdict!</h3>
          <%= link_to "Write Verdict", new_movie_verdict_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <% @verdicts.each do |verdict| %>
            <div class="verdicts">
              <div class="star-rating" data-score= <%= verdict.rating %> ></div>
              <p><%= verdict.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_movie_path(@movie) , class: "btn btn-default" %> |
  <%= link_to 'Delete', @movie, method: :delete, class: "btn btn-default" , data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', movies_path, class: "btn btn-default"  %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>