<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/assets/hammer.png"/>
  <title>The Hammer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
 </div>

</body>
</html>
